.avia-main {
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
}

.avia-content {
    padding-top: 20px;
}

.loader-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }