.avia-ticket {
    max-width: 502px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.ticket-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2196F3;
}

.ticket-segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.box-size {
    width: 141px;
    height: 18px;
}

.box-size2 {
    width: 141px;
    height: 21px; 
}

.box-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.box-text2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;
    color: #4A4A4A;
}